<h1>YOUR BANK</h1>


<div class="links">
<h3 id="deviz">Make Your Dreams True!</h3>

<%= link_to "Deposit Department", deposit_index_path, class: "btn btn-large btn-primary" %>
<%= link_to "Credit Department", credit_index_path, class: "btn btn-large btn-primary" %>
<hr>
<%= link_to "Sign up!", signup_path, class: "btn btn-large btn-primary" %>
</div>
