<h1 style="color:blue">Kind</h1>
<h1><%= @credit_type.kind %></h1>
<hr>
<h1 style="color:blue">Percent</h1>
<h3><%= @credit_type.percent %></h3>
<h1 style="color:blue">Max sum</h1>
<h3><%= @credit_type.max_sum %></h3>
<hr>
<h1 style="color:blue">Was Created at</h1>
<h3><%= @credit_type.created_at %></h3>